<div class="page-header">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">

      <div class="card-body">
        <div class="col-12 card_heading">
          <h4 class="card-title">Users Table</h4>

          <span>
            <button class="btn back_button ml-2" (click)="generateUsercsv()"><span class="fa fa-download"></span>
              Download CSV</button>
          </span>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  User
                </th>
                <th>
                  First name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Phone
                </th>
                <th>
                  Status
                </th>

                <th>
                  DOB
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userdata">
                <td class="py-1" (click)="openSmallModal(smallModalContent,user._id)">
                  <img src="assets/images/faces/face1.jpg" alt="image" />
                </td>
                <td>
                  {{user.firstName}}
                </td>
                <td>
                  {{user.email}}
                </td>
                <td>
                  {{user.phone}}
                </td>
                <td>
                  <!-- <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches" (click)="checkStatus($event)" [checked]="user.status == 1">
                    <label class="custom-control-label" for="customSwitches"></label>
                  </div> -->
                  <mat-slide-toggle (change)="onChange($event,user?._id)" [checked]="user.isDisabled">
                  </mat-slide-toggle>
                </td>
                <td>
                  {{user.dob | date}}
                </td>
                <td class="action">

                  <div class="row">

                    <div class="edit">
                      <img alt="" src="assets/images/edit.svg" (click)="openEditModal(EditModalContent,user._id)">
                    </div>
                    <div class="delete">
                      <img alt="" src="assets/images/delete.svg" (click)="deleteUser(user._id)"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator [length]="userlength" [pageSize]="userlength > 10 ? 10 : userlength"
    (page)="PageEvent = pageeventvalue($event)">
  </mat-paginator>

  <ng-template #smallModalContent let-modal class="modal fade" aria-labelledby="exampleModalLabel-3">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Modal title</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close()">Submit</button>
        <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
      </div>
    </div>
  </ng-template>

  <div>
    <ng-template #EditModalContent let-modal class="modal fade" aria-labelledby="exampleModalLabel-3">
      <div class="modal-content">

        <div class="modal-body">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Edit User</h4>

                <form class="forms-sample" [formGroup]="Editprofile">
                  <div class="form-group">
                    <label for="exampleInputName1">firstName</label>
                    <input type="text" class="form-control" id="exampleInputName1" (keypress)="alphabate($event)"
                      (keydown.space)="$event.preventDefault()" formControlName="firstName" placeholder="firstName">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail3">lastName</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" (keypress)="alphabate($event)"
                      (keydown.space)="$event.preventDefault()" formControlName="lastName" placeholder="lastName">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail3">email</label>
                    <input type="email" class="form-control" id="exampleInputEmail3"
                      (keydown.space)="$event.preventDefault()" formControlName="email" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword4">userName</label>
                    <input type="text" class="form-control" id="exampleInputPassword4"
                      (keydown.space)="$event.preventDefault()" formControlName="userName" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword4">phone</label>
                    <input type="number" class="form-control" id="exampleInputPassword4" formControlName="phone"
                      placeholder="Phone">
                  </div>
                  <div class="form-group">
                    <label for="exampleSelectGender">Gender</label>
                    <select class="form-control" id="exampleSelectGender" formControlName="gender">
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword4">DOB</label>
                    <input type="date" class="form-control" id="exampleInputPassword4" formControlName="dob"
                      placeholder="Phone">
                  </div>
                  <div class="form-group">
                    <label for="exampleTextarea1">Bio</label>
                    <textarea class="form-control" id="exampleTextarea1" (keypress)="alphabate($event)"
                      formControlName="bio" rows="4"></textarea>
                  </div>
                  <button type="submit" class="btn btn-gradient-primary mr-2" (click)="SubmitUser()">Submit</button>
                  <button class="btn btn-light" (click)="close()">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </ng-template>
  </div>
</div>