
.card_heading
{
    display: flex;
    align-items: center;
    .card-title {
        width: 60%;
        text-align: left;
    }
    span {
        width: 40%;
        text-align: right;
    }
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background: linear-gradient(to right, #da8cff, #ff55c4);
}
.btn {
    font-size: 0.875rem;
    line-height: 1;
    font-family: "ubuntu-bold", sans-serif;
    margin-right: 2px;
    margin-bottom: 13px;
}