<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="assets/images/logo.png" alt="logo">
        </div>
        <h6 class="font-weight-light">Sign in to continue.</h6>
        <form class="pt-3" >
          <div class="form-group">
            <input type="email" class="form-control form-control-lg" [(ngModel)]="name" id="exampleInputEmail1"   [ngModelOptions]="{standalone: true}" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control form-control-lg" [(ngModel)]="password" id="exampleInputPassword1"   [ngModelOptions]="{standalone: true}" placeholder="Password">
          </div>
          <div class="mt-3">
            <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" (click)="login()" routerLink="/dashboard">SIGN IN</a>
          </div>
          <div class="my-2 d-flex justify-content-between align-items-center">
            <!-- <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input">
                <i class="input-helper"></i>
                Keep me signed in
              </label>
            </div> -->
            <a routerLink="/user-pages/register" class="auth-link text-black">Forgot password?</a>
          </div>
      
        </form>
      </div>
    </div>
  </div>
</div>  