<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="assets/images/logo.png" alt="logo">
        </div>
        <h4>Forgot Password</h4>
        <form class="pt-3">
          <div class="form-group">
            <input type="email" class="form-control form-control-lg" [(ngModel)]="forgotemail" id="exampleInputEmail1"  [ngModelOptions]="{standalone: true}" placeholder="Email">
          </div>
          <div class="mt-3">
            <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" (click)="forgotSubmit()">Submit</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>